- provide :body_class, 'home'

.center.jumbotron
  %h1 Welcome to Sample App

  %h2
    This is the homepage for the
    = link_to 'Ruby on Rails Tutorial', 'http://rubyonrails.org'
    sample application.

  = link_to '#', class: 'btn btn-lg btn-primary' do
    Sign up now!
