# {{ ansible_managed }}

upstream unicorn {
    server unix:{{ unicorn_socket_path }} fail_timeout=0;
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ app_domain }};
    charset utf-8;

    access_log {{ nginx_access_log_file }};
    error_log {{ nginx_error_log_file }};

    # allow letsencrypt challenges over http
    location /.well-known/ {
        root {{ nginx_sites_dir }};
        try_files $uri $uri/ =404;
    }

    root {{ static_assets_dir }};

    location / {
        try_files $uri @unicorn;
    }

    location @unicorn {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_redirect off;
        proxy_pass http://unicorn;
    }

    error_page 500 502 503 504 /500.html;
    keepalive_timeout 10;
}
