section.user-heading {
  margin-top: 20px;
  img.gravatar {
    display: inline-block;
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  h1 {
    font-size: 30px;
    margin: 0 0 5px 0;
  }
  .profile-link,
  .count {
    display: block;
    margin-left: 90px;
  }
}

.relationship-stats {
  overflow: auto;
  margin-top: 0;
  padding-bottom: 20px;

  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user-info {
  div.pagination {
    margin: 0;
  }
}

.user-login,
.user-sign-up {
  form > button[type="submit"] {
    width: 100%;
  }
}

.user-login {
  form {
    margin-bottom: 10px;
  }
}

.user-edit {
  .edit-gravatar {
    .control-label {
      display: block;
    }
    a {
      padding-left: 5px;
    }
  }
}

ul.users {
  list-style: none;
  padding-left: 0;

  li.user {
    &:not(:last-of-type) {
      padding-bottom: 15px;
    }
    .name {
      padding-left: 5px;
    }
    a:hover {
      text-decoration: none;
      .name {
        text-decoration: underline;
      }
    }
  }
}

.show-follow {
  .user-avatars img {
    margin-bottom: 3px;
  }
}
