.user-info {
  aside {
    section.user-info {
      margin-top: 20px;
    }
  }
}

.user-login,
.user-sign-up {
  form > button[type="submit"] {
    width: 100%;
  }
}

.user-login {
  form {
    margin-bottom: 10px;
  }
}
