.user-info {
  aside {
    section.user-info {
      margin-top: 20px;
      img.gravatar {
        display: inline-block;
        float: left;
        padding-right: 15px;
      }
      h1 {
        display: inline-block;
        font-size: 30px;
        margin-top: 0;
        float: left;
      }
    }
  }

  div.pagination {
    margin: 0;
  }

  .microposts {
    list-style: none;
    padding-left: 0;

    .micropost {
      padding: 10px 0;
      border-top: 1px solid $gray-medium-light;
      &:last-of-type {
        border-bottom: 1px solid $gray-medium-light;
      }
      .gravatar {
        padding-right: 10px;
        float: left;
      }
      .user {
        line-height: 1;
        padding-bottom: 3px;
      }
      .created_at {
        padding-top: 3px;
        color: $gray;
      }
      .user,
      .content,
      .created_at {
        display: block;
        margin-left: 60px;
      }
    }
  }
}

.user-login,
.user-sign-up {
  form > button[type="submit"] {
    width: 100%;
  }
}

.user-login {
  form {
    margin-bottom: 10px;
  }
}

.user-edit {
  .edit-gravatar {
    .control-label {
      display: block;
    }
    a {
      padding-left: 5px;
    }
  }
}

.user-list {
  ul.users {
    list-style: none;
    padding-left: 0;

    li.user {
      &:not(:last-of-type) {
        padding-bottom: 15px;
      }
      .name {
        padding-left: 5px;
      }
      a:hover {
        text-decoration: none;
        .name {
          text-decoration: underline;
        }
      }
    }
  }
}
