- provide :title, "#{@ride.trail.name} Ride"
- provide :body_class, 'ride-show'

- content_for :styles do
  = stylesheet_pack_tag 'rides_show'

- content_for :js do
  = javascript_pack_tag 'rides_show'

#app
